.bg-primary {
   font-size: 50px;
}

.form {
   float: left;
  }
  .container{
    border: 10px;
    border-color: black;
  }
  .col-sm-4{
    border: 3px;
    border-color: black;
  }
  .border {
    padding: 30px;
   
  }
  #mainWeather {
    padding-right: 200px;
  }
  #next-five{
    display:flex;
    flex-wrap: wrap;
  }
  .card{
    margin: 25px;
    min-width: 16%;
  }
  #history{
    display: flex;
    flex-direction: column;
  }