.bg-primary {
   font-size: 50px;
   font-family: 'Viga', sans-serif;
   
}

.form {
   float: left;
  }
  .container{
    border: 10px;
    border-color: black;
  }
  .col-sm-4{
    border: 3px;
    border-color: black;
  }
  .border {
    padding: 30px;
   
  }
  #mainWeather {
    padding-right: 200px;
  
  }
  #next-five{
    display:flex;
    flex-wrap: wrap;
  }
  .card{
    margin: 25px;
    min-width: 16%;
  }
  #history{
    display: flex;
    flex-direction: column;
  }
  #currWeather {
    text-align: center;
    justify-content: center;
    width: 40%; 
    margin: 0 auto;
    display: flex;
    position: absolute;
    padding-left: 50px;
    height: 300px;
  }
  body{
    background-color: rgb(44, 44, 44);
    color: white;
  }
  
  